<span class="icon alpha <%= icon_merge(grouped_timeline) %>">Merge</span>
<span class="icon alpha <%= icon_review(grouped_timeline) %>">Review</span>
<span class="icon alpha <%= icon_comment(grouped_timeline) %>">Comment</span>
