
<div class="row">
  <div class="one-third column">
    <span class="logo"></span>
    <h1 class="logo">Junkie</h1>
  </div>
</div>

<div class="row">
  <div class="twelve column">
    <h2>About</h2>
  </div>
</div>
<div class="row">
  <div class="twelve column">
    <p>
      After some problems I had by forgetting to review an open Pull Request and
      the time I lost opening already reviewed PR just to see if it was already
      done were my motives to create Junkie.
    </p>
    <p>Come visit my <a href="https://github.com/leomilrib/junkie">repository</a> in GitHub and fork me if you have some (or any) suggestions.</p>
    <p>(This is an <a href="https://github.com/leomilrib/junkie/blob/master/LICENSE">GNU Licensed</a> app ;D)</p>
  </div>
</div>

<div class="row">
  <div class="twelve column">
    <h3>Icons and Meanings</h3>
  </div>
</div>

<div class="row">
  <div class="twelve column">
    <h3>So this is what is behind Junkie</h3>
  </div>
</div>

<div class="row">
  <div class="four columns logos">
    <a href="http://www.sinatrarb.com/">
      <img class="u-max-full-width" src="http://www.sinatrarb.com/images/logo.png" alt="Sinatra">
      <p>Sinatra</p>
    </a>
  </div>
  <div class="four columns logos">
    <a href="https://rubygems.org/gems/unicorn">
      <img src="https://github.com/images/error/angry_unicorn.png" alt="Unicorn" class="u-max-full-width">
      <p>Unicorn</p>
    </a>
  </div>
  <div class="four columns logos">
    <a href="https://github.com/octokit/octokit.rb">
      <img class="u-max-full-width" src="https://camo.githubusercontent.com/59b6617186cc7fac00151974e84bfbc1f4b973a3/687474703a2f2f636c2e6c792f696d6167652f3359303133483041327a337a2f67756e64616d2d727562792e706e67" alt="Octokit" >
      <p>Octokit</p>
    </a>
  </div>
</div>

<div class="row">
  <div class="six columns logos">
    <a href="http://getskeleton.com/">
      <img src="http://getskeleton.com/dist/images/favicon.png" alt="Skeleton" class="u-max-full-width">
      <p>Skeleton</p>
    </a>
  </div>
  <div class="six columns logos">
    <a href="http://glyphicons.com/">
      <img src="http://glyphicons.com/wp-content/themes/glyphicons/sk/public/img/aside-box-logo.svg" alt="Glyphicons" class="u-max-full-width">
      <p>Glyphicons</p>
    </a>
  </div>
</div>






