
<div class="row">
  <div class="one-third column">
    <a href="/">
      <span class="logo"></span>
    </a>
    <h1 class="logo">Junkie</h1>
  </div>
</div>

<div class="row">
  <div class="twelve column">
    <h2>About</h2>
  </div>
</div>
<div class="row">
  <div class="twelve column">
    <p>
      After some problems I had by forgetting to review an open Pull Request and
      the time I lost opening a PR just to see that it was already reviewed, I
      decided to create Junkie for my own relief...
    </p>
    <p>
      Come visit my <a href="https://github.com/leomilrib/junkie">repository</a>
      in GitHub and fork me if you have some (or any) suggestions.
    </p>
    <p>
      (This is an
      <a href="https://github.com/leomilrib/junkie/blob/master/LICENSE">GNU Licensed</a>
      app ;D)
    </p>
  </div>
</div>

<div class="row">
  <div class="twelve column">
    <h3>Icons and their Meanings</h3>
  </div>
</div>

<div class="row">
  <div class="four columns justify">
    <ul>
      <li>
        <p>
          <span class="icon merge">Merge</span> - This is the "Merge" icon.
          It stays <strong class="pending">red</strong> until the PR receives at least 2
          "shipit" emojis (:+1: or :shipit:). When it is ready to be merge,
          this icon will be <strong class="ready">green</strong>.
        </p>
      </li>
    </ul>
  </div>
  <div class="four columns justify">
    <ul>
      <li>
        <p>
        <span class="icon review">Review</span> - This is the "Reviewed" icon.
          It stays <strong class="pending">red</strong> until you have commented
          on the thread issue of GitHub with a "shipit" emojis (:+1: or :shipit:).
          It turns <strong class="ready">green</strong> after you have reviewed it.
        </p>
      </li>
    </ul>
  </div>
  <div class="four columns justify">
    <ul>
      <li>
        <p>
          <span class="icon comment">Comment</span> - This is the "Commented" icon.
          It stays <strong class="pending">red</strong> until you have commented
          on the thread pull request of GitHub. It turns <strong class="ready">green</strong>
          after you commented on the PR. This is ideal for PRs not ready to merge
          that need modifications.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve column justify">
    <p>
      Note: I hope that this can be configured as needed by the user in the future.
    </p>
  </div>
</div>

<div class="row">
  <div class="twelve column">
    <h3>So this is what is behind Junkie</h3>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <div class="center">
    <a href="http://www.sinatrarb.com/">
      <img class="u-max-full-width" src="http://www.sinatrarb.com/images/logo.png" alt="Sinatra">
      <p>Sinatra</p>
    </a>
    </div>
  </div>
  <div class="four columns">
    <div class="center">
    <a href="https://rubygems.org/gems/unicorn">
      <img src="https://github.com/images/error/angry_unicorn.png" alt="Unicorn" class="u-max-full-width">
      <p>Unicorn</p>
    </a>
    </div>
  </div>
  <div class="four columns">
    <div class="center">
    <a href="https://github.com/octokit/octokit.rb">
      <img class="u-max-full-width" src="https://camo.githubusercontent.com/59b6617186cc7fac00151974e84bfbc1f4b973a3/687474703a2f2f636c2e6c792f696d6167652f3359303133483041327a337a2f67756e64616d2d727562792e706e67" alt="Octokit" >
      <p>Octokit</p>
    </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="center">
    <a href="http://getskeleton.com/">
      <img class="u-max-full-width" src="http://getskeleton.com/dist/images/favicon.png" alt="Skeleton">
      <p>Skeleton</p>
    </a>
    </div>
  </div>
  <div class="six columns">
    <div class="center">
    <a href="http://glyphicons.com/">
      <img class="u-max-full-width" src="http://glyphicons.com/wp-content/themes/glyphicons/sk/public/img/aside-box-logo.svg" alt="Glyphicons">
      <p>Glyphicons</p>
    </a>
    </div>
  </div>
</div>






