<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Junkie - GitHub</title>
    <meta name="description" content="">
    <meta name="author" content="leomilirb">
    <meta name="keywords" content="productivity" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="shortcut icon" href="/images/favicon.png?v=2" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <% if flash[:error] %>
            <ul>
              <% flash.each do |key, message| %>
                <% [message].flatten.each do |m| %>
                  <li> <%= "#{key}: #{raw(m)}" %> </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>

  <footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </footer>
</html>
