<div class="row">
  <div class="twelve columns">
    <span>
      <a class="button" href="/auth">
        Login on GitHub
        <img class="button-github" src="/images/GitHub-Mark-32px.png">
      </a>
    </span>
  </div>
</div>
