<div class="row">
  <div class="twelve column center">
    <a href="/">
      <span class="logo" style="display: inline-block;float: none"></span>
    </a>
    <h1 class="logo">Junkie</h1>
  </div>
</div>

<div class="row">
  <div class="twelve column center">
    <p>
      Junkie is an app that helps you keep track of your opened Pull Requests
    </p>
    <a class="button" href="/auth">
      Login from GitHub
      <img class="button-github" src="/images/GitHub-Mark-32px.png">
    </a>
  </div>
</div>

<div class="row">
  <div class="twelve colunm center">
    <footer>
      <a href="/about">about this app</a>
    </footer>
  </div>
</div>