<div class="row">
  <div class="two-thirds column">
    <h1>Login to check your PR's</h1>
  </div>
  <div class="one-third column">
    <span>
      <a class="button" href="/auth">
        Login on GitHub
        <img class="button-github" src="/images/GitHub-Mark-32px.png">
      </a>
    </span>
  </div>
</div>
