img.button-github {
  height: 60%;
  width: auto;
}

div.icon-container{
  width: 84px;
  /*
    you may ask:
      "but why 84?"
    and i would tell you my dear friend:
      because 42 * 2 = 84 :wink:
  */
}

span.icon {
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 3px;
}

span.icon.ready {
  background-color: #6cc644;
}

span.icon.pending {
  background-color: #bd2c00;
}

span.icon.merge {
  background-image: url('/images/git-merge.png')
}

span.icon.review {
  background-image: url('/images/thumbs-up.png')
}

span.icon.comment {
  background-image: url('/images/comments.png')
}

span.icon.alpha.merge {
  background-image: url('/images/git-merge-alpha.png')
}

span.icon.alpha.review {
  background-image: url('/images/thumbs-up-alpha.png')
}

span.icon.alpha.comment {
  background-image: url('/images/comments-alpha.png')
}

span.logo {
  background-image: url('/images/junkie_logo_lines.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 85px;
  width: 85px;
}
