img.button-github {
  height: 60%;
  width: auto;
}

div.icon-container{
  width: 100px;
}

span.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 3px;
  /*font: 0/0 a;*/
  text-shadow: none;
  color: transparent;
}

span.icon.ready {
  background-color: #6cc644;
}

span.icon.pending {
  background-color: #bd2c00;
}

span.icon.merge {
  background-image: url('/images/git-merge.png')
}

span.icon.review {
  background-image: url('/images/thumbs-up.png')
}

span.icon.comment {
  background-image: url('/images/comments.png')
}

span.icon.alpha.merge {
  background-image: url('/images/git-merge-alpha.png')
}

span.icon.alpha.review {
  background-image: url('/images/thumbs-up-alpha.png')
}

span.icon.alpha.comment {
  background-image: url('/images/comments-alpha.png')
}

span.logo {
  background-image: url('/images/junkie_logo_lines.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 85px;
  width: 85px;
}

h1.logo {
  line-height: inherit;
}

div.center {
  text-align: center;
  margin: 0 auto;
}

div.justify p {
  text-align: justify;
}

strong.pending {
  color: #bd2c00;
}

strong.ready {
  color: #6cc644;
}